<div class="filter-wrap">
	<div *ngFor="let item of condition;let i = index" class="input-wrap">
		<!-- Input -->
		<div *ngIf="item.type === 'Input'">
			<label>{{item.key}}</label>
			<el-input 
				[(ngModel)]="item.value"
				size="small" 
				icon="{{item.value === '' ? '' : 'circle-close'}}"
				placeholder="{{item.placeholder}}"
				(ngModelChange)="inputChange()"
				(icon-click)="cancel(i)"
			></el-input>
		</div>
		<div *ngIf="item.type === 'Select'">
				<label>{{item.key}}</label>
			<el-select 
				size="small" 
				placeholder="item.placeholder"
				[(model)]="item.value" 
				(modelChange)="selectChange()"
			>
				<el-option 
					*ngFor="let el of item.option"
					[label]="el.label"
					[value]="el.value"
				></el-option>
			</el-select>
		</div>
	</div>
</div>