.filter-wrap{
	background-color: #fff;
	padding: 10px 0 0 20px;
	.input-wrap{
		margin: 0 20px 10px 0;
		display: inline-flex;
		&:after{
			content: '';
			overflow: hidden;
			clear: both;
			height: 0;
			visibility: hidden;
			display: block;
		}
		div{
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			label{
				margin-right: 10px;
			}
		}
	}
}