.el-container{
  height: 100%;
}
.el-aside{
	background-color: #0c1836;
	opacity: .98;
	a{
		display: block;
		background-color: transparent;
		color: #fff;
		line-height: 48px;
		font-size: 14px;
		padding: 0 24px;
		position: relative;
		transition: all .4s cubic-bezier(.23,1,.32,1);
		&:hover{
			color: #06f;
		}
		span{
			margin-left: 10px;
		}
		&:after{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			height: 0;
			width: 4px;
			background-color: #06f;
			transition: all .4s cubic-bezier(.23,1,.32,1);
		}
		&.active{
			background-color: #fff;
			color: #06f;
			&:after{
				height: 100%;
				top: 0;
			}
		}
	}
}
.el-header{
	position: relative;
	z-index: 10;
	height: 60px;
	box-shadow: 0 2px 4px 0 rgba(40,138,255,.2);
}
.el-main{
	.title{
		font-size: 16px;
		color: #333;
		padding-bottom: 24px;
	}
}