<div el-container class="demo-box">
  <div el-aside width="200px">
    <div class="logo-wrap">
      <img src="https://avatars3.githubusercontent.com/u/22017372?s=460&v=4" alt="阿里云RPA">
    </div>
    <div class="menu-wrap">
        <!-- routerLinkActive 当前路由激活class -->
      <a 
      *ngFor="let item of menuList" 
      routerLink="{{item.code}}"
      class="{{currentPath === item.path ? 'active' : null }}"
      (click)="menuClick(item)"
      >
        <i class="iconfont {{item.icon}}"></i>
        <span>{{item.name}}</span>
      </a>
    </div>
  </div>
  <div el-container direction="vertical">
    <div el-header [el-class]="'main-layout-header'">头部</div>
    <div el-main>
      <page-header [pageInfo]="currentPage"></page-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
