<div el-container class="demo-box">
  <div el-aside width="200px">
    <logo></logo>
    <div class="menu-wrap">
        <!-- routerLinkActive 当前路由激活class -->
      <a 
      *ngFor="let item of menuList" 
      routerLink="{{item.code}}"
      class="{{currentPath === item.path ? 'active' : null }}"
      (click)="menuClick(item)"
      >
        <i class="iconfont {{item.icon}}"></i>
        <span>{{item.name}}</span>
      </a>
    </div>
  </div>
  <div el-container direction="vertical">
    <div el-header [el-class]="'main-layout-header'"></div>
    <div el-main>
      <page-header [pageInfo]="currentPage"></page-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
