.page-tab-wrap{
    display: flex;
		line-height: 48px;
		border-bottom: 1px solid #dcdee3;
    a{
			padding: 0 28px;
			position: relative;
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: -1px;
				left: 50%;
				height: 2px;
				width: 0;
				background: #2077ff;
				transition: all .4s cubic-bezier(.23,1,.32,1);
			}
			&.active{
				&:after{
					left: 0;
					width: 100%;
				}
			}
    }
}